fastapi
uvicorn
streamlit
torchvision
transformers
sentence-transformers
sentencepiece
protobuf==3.20.3
chromadb
keybert
PyPDF2
Sastrawi
scikit-learn
torch
pandas
python-dotenv
python-docx
matplotlib
seaborn
jupyter
